$trilogy-secondary: (
  50: #fff9eb,
  100: #fff4e7,
  200:#fdefe2,
  300: #f1e2d6,
  400: #cec0b4,
  500: #afa296,
  600: #85786d,
  700: #706459,
  800: #50453a,
  900: #2d241a,
  A100: #ffe1bc,
  A200: #ffcd8d,
  A400: #ffa741,
  A700: #ff7b2d,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);