$trilogy-primary: (
  50: #f8f7ff,
  100: #f1f1ff,
  200:#e9e8ff,
  300: #dad9f4,
  400: #b6b6d0,
  500:#9696af,
  600: #6e6e85,
  700: #5a5a71,
  800: #3b3b51,
  900: #1a1b2e,
  A100: #cacbda,
  A200: #a7a9c8,
  A400: #6b6cab,
  A700: #454088,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);